.head {
  font-style: oblique;
  color: green;
}
.body {
  background-color: gray;
}
.para {
  font-size: 20px
}
.Me {
  font-style: italic;
  color: green;
}
.photo {
  width: 200px;
  height: 260px;
  float: right;
}
